/* font-menu */
.font-text-menu{
font-family: 'Arimo', sans-serif;
font-size: 1.125rem;
font-weight: 600;
color: var(--cor-id-4);
}




/* media queries */
@media(max-width: 900px){
.font-text-menu{
font-family: 'Arimo', sans-serif;
font-size: 2rem;
color: var(--cor-id-4);
}
}


@media(max-width: 480px){
.font-text-menu{
font-size: 1.5rem;
}
}





