.contato-bg{
background-color: var(--cor-fundo-4);
padding-top: 100px;
padding-bottom: 100px;
}

.contato{
display: grid;
grid-template-columns: 1fr 1fr;
justify-items: center;
align-items: start;
background-color: var(--cor-fundo-4);
}

.contato-infos{
max-width: 500px;
width: 100%;
box-sizing: border-box; 
}


/* contato-titulo */
.contato-titulo{
margin-bottom: 30px;
}

.contato-titulo h2{
margin-bottom: 8px;
}

.contato-titulo h2{
margin-bottom: 8px;
}

.contato-titulo p{
width: 260px;
}


/* contato-fone*/
.contato-fone{
margin-bottom: 30px;
}


/* contato-acompanhe*/
.contato-acompanhe{
margin-bottom: 30px;
}
.contato-acompanhe h3{
margin-bottom: 8px;
}

.contato-redes{
display: flex;
gap: 15px;
}

.contato-redes img{
width: 20px;
}

.contato-redes a{
border: 1px solid #ffff;
display: flex;
align-items: center;
justify-content: center;
padding: 8px;
transition: .3s;
}

.contato-redes a:hover{
border: 1px solid var(--cor-brand-2);
}


/* contato-endereço */
.contato-endereco span{
display: block;
width: 250px;
margin-bottom: 8px;
}


/* formulário */
#form-contato{
max-width: 500px;
width: 100%;
}

.form-box{
margin-bottom: 20px;
width: 100%;
}

.input, .input-text, .btn-form{
width: 100%;
}

.input, .input-text{
border: none;
background-color: var(--cor-fundo-3);
}


.input, .input-text, .btn-form{
padding: 10px 5px 10px 5px;
border-radius: 5px;
}

.input-text{
min-height: 9rem;
}

.label {
display: block;
margin-bottom: 5px;
color: var(--cor-fundo-1); 
}
  
.btn-form{
cursor: pointer;
color: var(--cor-fundo-3);
background-color: transparent;
border: 1px solid var(--cor-fundo-3);
transition: .3s;
}

.btn-form:hover{
color: var(--cor-fundo-4);
background-color: var(--cor-fundo-3);
}




/* media queries */

@media(max-width: 768px){

.contato-bg{
padding-top: 80px;
padding-bottom: 100px;
}

.contato{
display: grid;
grid-template-columns: 1fr;
justify-items: center;
align-items: start;
background-color: var(--cor-fundo-4);
}

.contato-infos{
margin-left: 15px;
margin-right: 15px;
margin-bottom: 60px;
max-width: 500px;
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
}

.contato-titulo p{
width: 300px;
}

.contato-titulo h2{
margin-bottom: 15px;
}

#form-contato{
max-width: 450px;
width: 100%;
margin-left: 15px;
margin-right: 15px;
}
}


@media(max-width: 468px){

.contato-bg{
padding-top: 60px;
padding-bottom: 80px;
}

.contato{
justify-items: center;
align-items: start;
}

.contato-infos{
margin-left: 0px;
margin-right: 0px;
margin-bottom: 60px;
width: 90%;
display: flex;
flex-direction: column;
align-items: start;
justify-content: center;
text-align: left;
}

.contato-titulo h2{
margin-bottom: 10px;
}

#form-contato{
max-width: none;
width: 90%;
margin-left: 0px;
margin-right: 0px;
}
}